.xcm__header {
  display: none;
}
.price__chart {
  height: 26.3rem;
  padding-bottom: 4rem;
  line[stroke-dasharray] {
    display: none;
  }
  line.recharts-cartesian-axis-line,
  line.recharts-cartesian-axis-tick-line {
    stroke: #cacfe3;
  }
  text {
    fill: #000;
  }
}

/* header */
.header__wrapper {
  margin-bottom: -80px;
  background-image: url("/xcmbg/starsbg.svg");
  position: relative;
  overflow: hidden;
  &::before {
    content: "''";
    position: absolute;
    background: url("/xcmbg/curvebg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 100rem;
    width: 100%;
    height: 100%;
    z-index: -1;
    @media screen and (min-width: 0) and (max-width: 319px) {
      background: url("/xcmbg/curvebgMobile.svg");
      left: 0;
      background-repeat: no-repeat;
    }
    @media screen and (min-width: 320px) and (max-width: 375px) {
      background: url("/xcmbg/curvebgMobile.svg");
      background-repeat: no-repeat;
      top: 5rem;
      transform: scale(1.5);
    }
    @media screen and (min-width: 376px) and (max-width: 493px) {
      background: url("/xcmbg/curvebgMobile.svg");
      left: 5rem;
      background-repeat: no-repeat;
      top: 2rem;
      transform: scale(1.5);
    }
    @media screen and (min-width: 494px) and (max-width: 767px) {
      background: url("/xcmbg/curvebgMobile.svg");
      left: 9rem;
      background-repeat: no-repeat;
      top: -45rem;
      transform: scale(1.5);
      background-size: 100% 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 969px) {
      background: url("/xcmbg/curvebgTablet.svg");
      left: 0;
      background-repeat: no-repeat;
      top: -22rem;
      transform: scale(1.5);
      background-size: 100% 100%;
    }
    @media screen and (min-width: 970px) and (max-width: 1200px) {
      background: url("/xcmbg/curvebgTablet.svg");
      left: 0;
      background-repeat: no-repeat;
      top: -32rem;
      transform: scale(1.5);
      background-size: 100% 100%;
    }
  }
  @media screen and (min-width: 0) and (max-width: 320px) {
    padding-bottom: 114px;
  }
  @media screen and (min-width: 321px) and (max-width: 375px) {
    padding-bottom: 186px;
  }
  @media screen and (min-width: 376px) and (max-width: 493px) {
    padding-bottom: 253px;
  }
  @media screen and (min-width: 494px) and (max-width: 767px) {
    padding-bottom: 253px;
  }
  @media screen and (min-width: 768px) and (max-width: 969px) {
    padding-bottom: 379px;
  }
  @media screen and (min-width: 970px) and (max-width: 1200px) {
    padding-bottom: 379px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 100rem;
  }
}

.whatxcm__wrapper {
  @media screen and (min-width: 425px) and (max-width: 543px) {
    margin-top: -12rem;
  }
  @media screen and (min-width: 544px) and (max-width: 969px) {
    margin-top: -10rem;
  }
  @media screen and (min-width: 1200px) {
    margin-top: -108.375rem;
  }
}
